html {
  font-family: 'Barlow Condensed', sans-serif;
}


/* Footer */

footer {
  border-top: 0.5vh solid black;
  margin-top: 5vh;
}

footer .nav {
  margin-top: 5vh;
}

.copyright {
  text-align: center;
}
